//Цвета
$color-first: #ffffff;
$color-second: #00B2FF;
$color-third: #666666;
$color-fourth: #1B2D37;
$color-fifth: #788891;
$color-sixth: #203C42;

//остальное
$mobile-width: ~"(max-width: 767px)";
$tablet-width: ~"(max-width: 1023px)";
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;