.about-company {
  width: 100%;
  background-color: $color-first;
  position: relative;
  overflow: hidden;
  background-image: url("../img/polygon-2.svg"), url("../img/polygon-3.svg"), url("../img/polygon-4.svg");
  background-position: calc(50vw + 597px) 396px, calc(50vw - 758px) 44px, calc(50vw - 1138px) 451px;
  background-size: 336px 324px, 336px 324px, 925px 861px;
  background-repeat: no-repeat, no-repeat, no-repeat;

  @include respond-above($breakpoints-tablet) {
    background-image: none;
  }

  &::after {
    @include icon;

    position: absolute;
    display: block;
    width: 872px;
    height: 873px;
    background-image: url("../img/polygon-1.svg");
    bottom: 245px;
    left: calc(50vw - 402px);
    background-size: 872px 873px;

    @include respond-above($breakpoints-mobile) {
      bottom: 151px;
      left: calc(50vw - 175px);
    }

    @include respond-above($breakpoints-mobile) {
      bottom: 270px;
      left: calc(50vw - 281px);
    }
  }
}

.about-company__wrapper {
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 375px;
  padding-right: 375px;
  padding-top: 114px;
  padding-bottom: 110px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @include respond-above(1599px) {
    padding-right: 150px;
    padding-left: 150px;
  }

  @include respond-above($breakpoints-desktop) {
    padding-right: 100px;
    padding-left: 100px;
  }

  @include respond-above($breakpoints-tablet) {
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 52px;
    padding-bottom: 83px;
  }

  @include respond-above($breakpoints-mobile) {
    min-width: 320px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 37px;
    padding-bottom: 65px;
  }
}

.about-company__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 105px;
  z-index: 100;

  @include respond-above($breakpoints-tablet) {
    margin-bottom: 57px;
  }

  @include respond-above($breakpoints-mobile) {
    display: block;
    margin-bottom: 40px;
  }
}

.about-company__advantage {
  display: block;
  border-left: 3px solid $color-second;
  border-right: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding-top: 40px;
  padding-left: 45px;
  padding-right: 40px;
  padding-bottom: 65px;
  cursor: pointer;
  width: 49%;
  background-color: $color-first;

  @include respond-above($breakpoints-tablet) {
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    width: 48%;
  }

  @include respond-above($breakpoints-mobile) {
    width: 100%;
    padding-bottom: 23px;
  }

  &:nth-child(2) {
    @include respond-above($breakpoints-mobile) {
      padding-right: 7px;
      padding-bottom: 26px;
    }
  }

  &:nth-child(3) {
    @include respond-above($breakpoints-tablet) {
      padding-right: 15px;
    }

    @include respond-above($breakpoints-mobile) {
      padding-bottom: 34px;
    }
  }

  &:hover {
    background-color: $color-second;
  }

  &:hover .about-company__icon svg {
    fill: $color-first;
  }

  &:hover > h2 {
    color: $color-first;
  }

  &:hover > p {
    color: $color-first;
  }
}

.about-company__advantage:not(:last-child):not(:nth-last-child(2)) {
  margin-bottom: 30px;

  @include respond-above($breakpoints-mobile) {
    margin-bottom: 20px;
  }
}

.about-company__advantage:not(:last-child) {
  @include respond-above($breakpoints-mobile) {
    margin-bottom: 20px;
  }
}

.about-company__icon {
  display: block;
  margin-bottom: 13px;

  @include respond-above($breakpoints-tablet) {
    margin-bottom: 5px;
  }
}

.about-company__icon svg {
  fill: $color-second;
}

.about-company__advantage h2 {
  @include content;
  @include roboto-condensed(24px, $color-second, 400, 34px);
  margin-bottom: 16px;

  @include respond-above($breakpoints-tablet) {
    margin-bottom: 6px;
  }

  @include respond-above($breakpoints-mobile) {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 10px;
  }
}

.about-company__advantage p {
  @include content;
  @include pt-mono(16px, $color-third, 400, 22px);
  min-height: 90px;

  @include respond-above($breakpoints-tablet) {
    min-height: 100px;
  }

  @include respond-above($breakpoints-mobile) {
    min-height: auto;
  }
}

.about-company__information {
  padding-left: 180px;
  position: relative;
  z-index: 100;

  @include respond-above($breakpoints-tablet) {
    padding-left: 187px;
  }

  @include respond-above($breakpoints-mobile) {
    padding-left: 0;
  }

  &::before {
    display: block;
    position: absolute;

    @include icon;
    top: 0;
    left: -25px;
    background-image: url("../img/numbers-1x.png");
    background-size: 220px 317px;
    width: 220px;
    height: 317px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/numbers-2x.png");
    }

    @include respond-above($breakpoints-tablet) {
      width: 244px;
      height: 362px;
      background-size: 244px 362px;
    }

    @include respond-above($breakpoints-mobile) {
      display: none;
    }
  }
}

.about-company__information h2 {
  @include content;
  @include roboto-condensed(36px, $color-third, 400, 51px);
  margin-bottom: 20px;

  @include respond-above($breakpoints-tablet) {
    font-size: 32px;
    margin-bottom: 24px;
    line-height: 45px;
  }

  @include respond-above($breakpoints-mobile) {
    font-size: 28px;
    margin-bottom: 27px;
    line-height: 28px;
  }
}

.about-company__information p {
  @include content;
  @include pt-mono(16px, $color-third, 400, 22px);
  padding-right: 3px;

  @include respond-above($breakpoints-tablet) {
    padding-right: 0;
  }
}

.about-company__information p span {
  display: inline;

  @include respond-above($breakpoints-tablet) {
    display: none;
  }
}

.about-company__information p span:nth-child(2) {
  display: none;

  @include respond-above($breakpoints-tablet) {
    display: inline;
  }
}

.about-company__information p:not(:nth-last-of-type(1)) {
  margin-bottom: 20px;

  @include respond-above($breakpoints-mobile) {
    margin-bottom: 40px;
  }
}

.about-company__information a {
  border-radius: 5px;
  border: 1px solid $color-second;
  width: 180px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 10px;
  padding-right: 10px;
  letter-spacing: 0.05em;

  @include roboto-condensed(14px, $color-second, 700, 16px);
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
  cursor: pointer;

  @include respond-above($breakpoints-tablet) {
    margin-top: 41px;
  }

  @include respond-above($breakpoints-mobile) {
    margin-top: 29px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}
