.consultation {
  width: 100%;
  background-color: $color-second;
  background-image: url("../img/airplane-1x.png"), url("../img/polygon-5.svg"), url("../img/polygon-6.svg"), url("../img/polygon-7.svg");
  background-position: calc(50vw - 610px) 160px, calc(50vw + 680px) 44px, calc(50vw + 525px) 290px, calc(50vw - 786px) -60px;
  background-size: 511px 288px, 265px 255px, 528px 402px, 671px 641px;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/airplane-2x.png"), url("../img/polygon-5.svg"), url("../img/polygon-6.svg"), url("../img/polygon-7.svg");
  }

  @include respond-above($breakpoints-tablet) {
    background-image: none;
  }
}

.consultation__wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 114px;

  @include respond-above (1289px) {
    padding-right: 60px;
    padding-left: 60px;
  }

  @include respond-above ($breakpoints-tablet) {
    padding-right: 90px;
    padding-left: 90px;
    padding-top: 80px;
    padding-bottom: 105px;
  }

  @include respond-above ($breakpoints-mobile) {
    min-width: 320px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 40px;
  }
}

.consultation__block {
  display: block;
  width: 49%;
  margin-left: auto;

  @include respond-above ($breakpoints-tablet) {
    width: 100%;
  }
}

.consultation__block a {
  @include content;
  @include roboto-condensed(36px, $color-first, 400, 51px);
  margin-bottom: 10px;

  @include respond-above ($breakpoints-tablet) {
    font-size: 32px;
    margin-bottom: 17px;
    line-height: 45px;
  }

  @include respond-above ($breakpoints-mobile) {
    font-size: 28px;
    margin-bottom: 15px;
    line-height: 39px;
  }
}

.consultation__block p {
  @include content;
  @include pt-mono(16px, $color-first, 400, 22px);
  margin-bottom: 52px;

  @include respond-above ($breakpoints-tablet) {
    margin-bottom: 50px;
  }

  @include respond-above ($breakpoints-mobile) {
    margin-bottom: 21px;
  }
}

.consultation__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  @include respond-above ($breakpoints-mobile) {
    display: block;
  }
}

.consultation__container {
  width: 47%;
  display: block;
  margin-bottom: 34px;

  &--text {
    width: 100%;
  }

  @include respond-above ($breakpoints-tablet) {
    margin-bottom: 37px;
  }

  @include respond-above ($breakpoints-mobile) {
    width: 100%;
    margin-bottom: 30px;
  }
}

.consultation__wrap .consultation__container {
  margin-bottom: 43px;

  @include respond-above ($breakpoints-tablet) {
    margin-bottom: 40px;
  }

  @include respond-above ($breakpoints-mobile) {
    margin-bottom: 30px;
  }
}

.consultation__container input {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid transparent;
  padding-left: 18px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 18px;
  cursor: pointer;
  border-radius: 0;

  @include pt-mono(16px, $color-first, 400, 22px);

  @include respond-above ($breakpoints-tablet) {
    padding-bottom: 20px;
  }

  &:hover {
    border: 1px solid $color-first;
    background-color: rgba(255, 255, 255, 0.2);
  }

  &:focus {
    outline: 1px solid $color-first;
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.consultation__container textarea {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid transparent;
  padding-left: 18px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 18px;
  cursor: pointer;
  resize: none;
  height: 160px;
  border-radius: 0;

  @include respond-above ($breakpoints-tablet) {
    height: 164px;
  }

  @include pt-mono(16px, $color-first, 400, 22px);

  @include respond-above ($breakpoints-mobile) {
    height: 100px;
  }

  &:hover {
    border: 1px solid $color-first;
    background-color: rgba(255, 255, 255, 0.2);
  }

  &:focus {
    outline: 1px solid $color-first;
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.consultation__container input::placeholder {
  @include pt-mono(16px, $color-first, 400, 22px);
}

.consultation__container textarea::placeholder {
  @include pt-mono(16px, $color-first, 400, 22px);
}

.consultation__button {
  display: block;
  width: 48%;

  @include respond-above ($breakpoints-mobile) {
    width: 100%;
    margin-bottom: 31px;
  }
}

.consultation__button button {
  display: block;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  @include roboto-condensed(14px, $color-first, 700, 16px);
  border: 1px solid $color-first;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  background-color: transparent;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  &:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.consultation__agreement {
  width: 46%;
  padding-left: 33px;
  padding-top: 10px;

  @include respond-above ($breakpoints-mobile) {
    width: 100%;
    padding-top: 0;
  }
}

.consultation__agreement input {
  position: absolute;
  opacity: 0;
  pointer-events: none;

  &:focus {
    outline: none;
  }
}

.consultation__agreement label {
  display: block;
  position: relative;
  cursor: pointer;

  @include pt-mono(14px, rgba(255, 255, 255, 0.8), 400, 16px);

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.consultation__agreement input:checked + label::before {
  @include icon;
  display: block;
  width: 9px;
  height: 6px;
  position: absolute;
  background-image: url("../img/jackdaw.svg");
  background-size: 9px 6px;
  top: 5px;
  left: -28px;
}

.consultation__agreement input + label::after {
  @include icon;
  display: block;
  width: 17px;
  height: 16px;
  position: absolute;
  border: 1px solid $color-first;
  top: 0;
  left: -33px;

  &:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.consultation__agreement input:focus + label::after {
  background-color: rgba(255, 255, 255, 0.2);
}
