.information__wrapper {
  @include wrapper;

  @include respond-above ($breakpoints-mobile) {
    padding-top: 30px;
    padding-bottom: 26px;
  }
}

.information__wrapper ul {
  @include list;

  display: flex;
  flex-wrap: wrap;
  width: 100%;
  //padding-top: 14px;
  //padding-bottom: 14px;
  //
  //@include respond-above ($breakpoints-tablet) {
  //  padding-top: 21px;
  //  padding-bottom: 21px;
  //}
  //
  //@include respond-above ($breakpoints-mobile) {
  //  display: block;
  //  padding-top: 30px;
  //  padding-bottom: 26px;
  //}
}

.information__wrapper ul li {
  @include pt-mono(13px, rgba(27, 45, 55, 0.5), 400, 24px);

  letter-spacing: 0.04em;
  text-transform: uppercase;

  @include respond-above ($breakpoints-mobile) {
    text-align: center;
    width: 100%;
  }
}

.information__wrapper ul li:first-child {
  @include respond-above ($breakpoints-tablet) {
    display: none;
  }
}

.information__wrapper ul li:nth-last-child(2) {
  margin-left: 300px;

  @include respond-above ($breakpoints-tablet) {
    margin-left: 0;
  }
}

.information__wrapper ul li:last-child {
  margin-left: auto;

  @include respond-above ($breakpoints-mobile) {
    margin-left: 0;
  }
}

.information__wrapper ul li:not(:last-child) {
  @include respond-above ($breakpoints-mobile) {
    margin-bottom: 20px;
  }
}
