@keyframes bounce {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg) scaleY(0.6);
  }

  20% {
    transform: rotate(-2deg) scaleY(1.05);
  }

  35% {
    transform: rotate(2deg) scaleY(1);
  }

  50% {
    transform: rotate(-2deg);
  }

  65% {
    transform: rotate(1deg);
  }

  80% {
    transform: rotate(-1deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.js-accordion h2::before {
  @include respond-above($breakpoints-mobile) {
    display: block;
    position: absolute;
    width: 1px;
    height: 16px;
    right: 7px;
    top: 28px;
    background-color: #c4c4c4;
    content: "";
    animation: bounce 0.8s;
  }
}

.show {
  @include respond-above($breakpoints-mobile) {
    display: block;
    animation: bounce 0.8s;
  }
}

.letter--show {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: bounce 0.8s;

  @include respond-above($breakpoints-tablet) {
    display: none;
  }
}

.popup--error {
  animation: hatch 0.8s;
  // animation-name: hatch;
  // animation-duration: 2s;
  // animation-timing-function: ease-in-out;
  // transform-origin: 50% 100%;
  // visibility: visible;
}
