.navigation-footer__container {
  width: 60%;

  @include respond-above ($breakpoints-tablet) {
    width: 48%;
  }

  @include respond-above ($breakpoints-mobile) {
    width: 100%;
    border-bottom: 1px solid rgba(98, 105, 98, 0.2);
  }
}

.navigation-footer__wrapper {
  width: 60%;

  @include respond-above ($breakpoints-tablet) {
    width: 48%;
  }

  @include respond-above ($breakpoints-mobile) {
    padding-top: 28px;
    padding-bottom: 28px;
    position: relative;
    width: 100%;
  }
}

.navigation-footer__wrapper:last-child {
  width: 34%;

  @include respond-above ($breakpoints-tablet) {
    width: 48%;
  }

  @include respond-above ($breakpoints-mobile) {
    width: 100%;
  }
}

.navigation-footer__wrapper:not(:last-child) {
  &::after {
    @include respond-above ($breakpoints-mobile) {
      @include icon;

      width: 100vw;
      height: 1px;
      display: block;
      position: absolute;
      background-color: rgba(98,105,98,.2);
      left: -15px;
      bottom: 0;
    }
  }
}

.navigation-footer__list {
  @include list;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include respond-above ($breakpoints-tablet) {
    display: block;
  }

  @include respond-above ($breakpoints-mobile) {
    margin-top: 30px;
    display: none;
  }
}

.navigation-footer__wrapper:last-child .navigation-footer__list {
  flex-direction: column;
}

.navigation-footer__list li {
  @include pt-mono(15px, rgba(27, 45, 55, 0.5), 400, 25px);
  cursor: pointer;
  width: 49%;

  @include respond-above ($breakpoints-tablet) {
    width: 100%;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.navigation-footer__wrapper:last-child .navigation-footer__list li {
  width: 100%;
}

.navigation-footer__list li a {
  color: rgba(27, 45, 55, 0.5);
}

.navigation-footer__list li address {
  font-style: normal;
}

.navigation-footer__wrapper h2 {
  @include content;
  @include roboto-condensed(15px, $color-fourth, 400, 16px);
  margin-bottom: 25px;
  text-transform: uppercase;
  display: block;
  letter-spacing: 0.05em;

  @include respond-above ($breakpoints-mobile) {
    margin-bottom: 0;
    width: 100%;
    padding-right: 20px;
    position: relative;
    cursor: pointer;

    &:active {
      opacity: 0.5;
    }
  }
}

.navigation-footer__wrapper h2::after {
  @include respond-above ($breakpoints-mobile) {
    display: block;
    position: absolute;
    width: 16px;
    height: 1px;
    background-color: #c4c4c4;
    right: 0;
    top: 7px;
    content: "";
  }
}

.js-accordion h2::before {
  @include respond-above ($breakpoints-mobile) {
    display: block;
    position: absolute;
    width: 1px;
    height: 16px;
    right: 7px;
    top: 0;
    background-color: #c4c4c4;
    content: "";
  }
}

.show {
  display: block;
}
