.page-header {
  width: 100%;
  background-color: $color-seventh;
  background-image: url("../img/polygons-desktop.svg"), url("../img/background-1x.png");
  background-position: calc(50vw - 960px) -35px, 0 0;
  background-size: 1920px 950px, 100% 100%;
  background-repeat: no-repeat, no-repeat;
  overflow: hidden;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/polygons-desktop.svg"), url("../img/background-2x.png");
  }

  @include respond-above ($breakpoints-desktop) {
    background-image: url("../img/polygons-tablet.svg"), url("../img/background-1x.png");
    background-position: calc(100vw - 770px) 0, 0 0;
    background-size: 770px 653px, 100% 100%;
    background-repeat: no-repeat, no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/polygons-tablet.svg"), url("../img/background-2x.png");
    }
  }

  @include respond-above ($breakpoints-tablet) {
    background-position: calc(100vw - 770px) -45px, 0 0;
  }

  @include respond-above ($breakpoints-mobile) {
    background-image: url("../img/polygons-mobile.svg"), url("../img/background-1x.png");
    background-position: calc(100vw - 320px) 0, 0 0;
    background-size: 320px 529px, 100% 100%;
    background-repeat: no-repeat, no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/polygons-mobile.svg"), url("../img/background-2x.png");
    }
  }
}

.page-header__wrapper {
  position: relative;

  @include wrapper;
  padding-top: 33px;
  padding-bottom: 275px;

  @include respond-above ($breakpoints-tablet) {
    padding-top: 20px;
    padding-bottom: 165px;
  }

  @include respond-above ($breakpoints-mobile) {
    padding-top: 17px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.page-header__container {
  margin-top: 230px;
  max-width: 745px;
  z-index: 10;

  @include respond-above ($breakpoints-tablet) {
    margin-top: 117px;
    padding-left: 60px;
    max-width: 625px;
    width: 70%;
  }

  @include respond-above ($breakpoints-mobile) {
    margin-top: 232px;
    padding-left: 0;
    width: auto;
  }
}

.page-header__container h2 {
  @include content;
  @include roboto-condensed(80px, $color-first, 700, 94px);
  text-transform: uppercase;
  letter-spacing: 0.07em;
  max-width: 745px;
  margin-bottom: 27px;

  @include respond-above ($breakpoints-tablet) {
    font-size: 60px;
    margin-bottom: 27px;
    line-height: 70px;
  }

  @include respond-above ($breakpoints-mobile) {
    font-size: 40px;
    margin-bottom: 25px;
    line-height: 47px;
  }
}

.page-header__container p {
  @include content;
  @include pt-mono(22px, $color-first, 400, 34px);
  max-width: 720px;
  position: relative;
  padding-left: 95px;
  margin-bottom: 43px;

  @include respond-above ($breakpoints-tablet) {
    font-size: 18px;
    padding-left: 53px;
    margin-bottom: 55px;
    line-height: 28px;
  }

  @include respond-above ($breakpoints-mobile) {
    font-size: 16px;
    margin-bottom: 42px;
    line-height: 25px;
    max-width: 520px;
  }

  &::before {
    @include icon;
    display: block;
    position: absolute;
    width: 66px;
    height: 2px;
    background-color: $color-first;
    left: 4px;
    top: 16px;

    @include respond-above ($breakpoints-tablet) {
      width: 33px;
    }
  }
}

.page-header__container a {
  @include button;

  border-radius: 5px;
  background-color: $color-second;
  text-align: center;

  @include roboto-condensed(16px, $color-first, 700, 19px);
  text-transform: uppercase;
  width: 407px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  margin-left: 94px;
  letter-spacing: 0.05em;

  @include respond-above ($breakpoints-tablet) {
    width: 379px;
    margin-left: 53px;
  }

  @include respond-above ($breakpoints-mobile) {
    width: 287px;
    margin: 0 auto;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.page-header__container a span:first-child {
  display: block;

  @include respond-above ($breakpoints-mobile) {
    display: none;
  }
}

.page-header__container a span:nth-child(2) {
  display: none;

  @include respond-above ($breakpoints-mobile) {
    display: block;
  }
}

.page-header__scroll {
  @include button;

  position: absolute;
  background-color: transparent;

  @include pt-mono(14px, rgba(255, 255, 255, 0.5), 400, 16px);
  content: "";
  bottom: 127px;
  left: 0;
  transform: rotate(-90deg);
  padding: 0;
  cursor: pointer;

  @include respond-above ($breakpoints-tablet) {
    display: none;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.page-header__picture {
  display: block;
  position: absolute;
  right: -81px;
  top: 254px;

  @include respond-above (1409px) {
    right: -165px;
  }

  @include respond-above (1247px) {
    top: 113px;
    right: 0;
  }

  @include respond-above ($breakpoints-mobile) {
    right: -20px;
    top: 92px;
  }
}

.page-header__picture img {
  display: block;
  width: 705px;
  height: 515px;

  @include respond-above (1247px) {
    width: 260px;
    height: 340px;
  }

  @include respond-above ($breakpoints-mobile) {
    width: 301px;
    height: 220px;
  }
}
