.page-footer {
  width: 100%;
  position: relative;
}

.page-footer__wrap {
  width: 100%;
  background-color: $color-first;
  border-bottom: 1px solid rgba(98, 105, 98, 0.2);
  overflow: hidden;
}

.page-footer__information {
  width: 100%;
  background-color: $color-first;
}

.page-footer__container {
  @include wrapper;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 63px;
  margin-bottom: 58px;

  @include respond-above ($breakpoints-tablet) {
    padding-top: 20px;
    margin-bottom: 0;
  }

  @include respond-above ($breakpoints-mobile) {
    padding-top: 45px;
    margin-bottom: 0;
  }
}

.page-footer__navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;

  @include respond-above ($breakpoints-tablet) {
    width: 100%;
    margin-top: 63px;
    margin-bottom: 36px;
  }

  @include respond-above ($breakpoints-mobile) {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.page-footer__social {
  @include respond-above ($breakpoints-tablet) {
    position: relative;

    &::after {
      @include icon;

      width: 100vw;
      height: 1px;
      display: block;
      position: absolute;
      background-color: rgba(98, 105, 98, 0.2);
      left: -25px;
      bottom: -26px;
    }
  }

  @include respond-above ($breakpoints-mobile) {
    &::after {
      left: -15px;
      bottom: -55px;
    }
  }
}
