.services {
  width: 100%;
  background-color: $color-fourth;
}

.services__wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 85px;
  padding-bottom: 127px;

  @include respond-above (1289px) {
    padding-right: 60px;
    padding-left: 60px;
  }

  @include respond-above ($breakpoints-tablet) {
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 50px;
    padding-bottom: 78px;
  }

  @include respond-above ($breakpoints-mobile) {
    min-width: 320px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 65px;
  }
}

.services__wrapper h2 {
  @include content;
  @include roboto-condensed(36px, $color-first, 400, 51px);
  margin-bottom: 50px;

  @include respond-above ($breakpoints-tablet) {
    font-size: 32px;
    padding-right: 100px;
    line-height: 45px;
  }

  @include respond-above ($breakpoints-mobile) {
    margin-bottom: 40px;
    font-size: 28px;
    line-height: 39px;
    padding-left: 10px;
    padding-right: 0;
  }
}

.services__links {
  @include list;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include respond-above ($breakpoints-tablet) {
    display: block;
  }
}

.services__link {
  position: relative;
  cursor: pointer;
  width: 32%;
  height: auto;
  max-height: 623px;
  overflow: hidden;

  @include respond-above ($breakpoints-tablet) {
    width: 100%;
    height: 256px;
  }

  &::after {
    @include icon;
    display: none;
    position: absolute;
    width: 63px;
    height: 63px;
    background-image: url("../img/right.svg");
    background-size: 6px 9px;
    background-position: 30px 27px;
    background-color: $color-second;
    bottom: 0;
    right: 0;

    @include respond-above ($breakpoints-tablet) {
      display: block;
    }
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.services__link:not(:last-child) {
  @include respond-above ($breakpoints-tablet) {
    margin-bottom: 45px;
  }

  @include respond-above ($breakpoints-mobile) {
    margin-bottom: 30px;
  }
}

.services__link h3 {
  @include content;
  line-height: 30px;
  position: absolute;
  top: 53px;
  left: 45px;

  @include roboto-condensed(20px, $color-first, 400);
  max-width: 165px;

  @include respond-above ($breakpoints-tablet) {
    top: 40px;
    left: 45px;
  }

  @include respond-above ($breakpoints-mobile) {
    top: 23px;
    left: 35px;
  }
}

.services__link a {
  @include roboto-condensed(20px, $color-first, 400);
  position: relative;

  &::after {
    @include icon;
    display: block;
    position: absolute;
    width: 63px;
    height: 63px;
    background-image: url("../img/right.svg");
    background-size: 6px 9px;
    background-position: 30px 27px;
    background-color: $color-second;
    bottom: 0;
    right: 0;

    @include respond-above ($breakpoints-tablet) {
      display: none;
    }
  }
}

.services__link img {
  width: 100%;
  height: auto;
}
