.social {
  width: 216px;

  @include respond-above ($breakpoints-tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  @include respond-above ($breakpoints-mobile) {
    display: block;
    margin-bottom: 55px;
  }
}

.social__logo {
  width: 216px;
  height: 52px;
  margin-bottom: 55px;
  cursor: pointer;

  @include respond-above ($breakpoints-tablet) {
    margin-bottom: 0;
  }

  @include respond-above ($breakpoints-mobile) {
    margin: 0 auto;
    margin-bottom: 28px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.social span {
  @include pt-mono(13px, rgba(27, 45, 55, 0.5), 400, 24px);

  text-transform: uppercase;
  letter-spacing: 0.04em;
  display: block;
  position: absolute;
  bottom: 14px;
  left: calc(50vw - 485px);

  @include respond-above (1409px) {
    left: calc(50vw - 285px);
  }

  @include respond-above ($breakpoints-tablet) {
    width: 235px;
    position: static;
  }

  @include respond-above ($breakpoints-mobile) {
    text-align: center;
    margin-bottom: 30px;
    padding-top: 0;
    width: auto;
  }
}

.social__links {
  @include list;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 112px;

  @include respond-above ($breakpoints-mobile) {
    padding-top: 0;
    margin: 0 auto;
  }
}

.social__links li {
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}
