@mixin list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin content {
  margin: 0;
  padding: 0;
}

@mixin button {
  display: block;
  border: 0;
  padding: 0;
}

@mixin pt-mono($size: false, $colour: false, $weight: false,  $lh: false) {
  font-family: "PT Mono", "Arial", sans-serif;

  @if $size {
    font-size: $size;
  }

  @if $colour {
    color: $colour;
  }

  @if $weight {
    font-weight: $weight;
  }

  @if $lh {
    line-height: $lh;
  }
}

@mixin roboto-condensed($size: false, $colour: false, $weight: false,  $lh: false) {
  font-family: "Roboto Condensed", "Arial", sans-serif;

  @if $size {
    font-size: $size;
  }

  @if $colour {
    color: $colour;
  }

  @if $weight {
    font-weight: $weight;
  }

  @if $lh {
    line-height: $lh;
  }
}

@mixin icon {
  background-position: 0 0;
  background-repeat: no-repeat;
  content: "";
}

@mixin pseudo ($display: block, $pos: absolute) {
  display: $display;
  position: $pos;
}

@mixin respond-above ($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin wrapper {
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 253px;
  padding-right: 253px;

  @include respond-above (1599px) {
    padding-right: 100px;
    padding-left: 100px;
  }

  @include respond-above ($breakpoints-desktop) {
    padding-right: 60px;
    padding-left: 60px;
  }

  @include respond-above ($breakpoints-tablet) {
    padding-right: 25px;
    padding-left: 25px;
  }

  @include respond-above ($breakpoints-mobile) {
    min-width: 320px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
