//Цвета
$color-first: #ffffff;
$color-second: #00b2ff;
$color-third: #666666;
$color-fourth: #1b2d37;
$color-fifth: #788891;
$color-sixth: #203c42;

//остальное
//$mobile-width: ~"(max-width: 767px)";
//$tablet-width: ~"(max-width: 1023px)";
//$retina-dpi: 144dpi;
//$retina-dppx: 1.5dppx;
